@import "normalize";

.annotations{
  font-size: 12px;
}

#barreFlex{
  display: flex;
  justify-content: space-between;
}

.texteBarre{
  padding: 0;
  margin:0;
}

.barreLogos{
  align-items: flex-end;
}

.petitTitre{
  font-size: 18px;
  color: darkorange;
}

.petitTexte{
  margin-top: 1%;
  font-size: 14px;

}