@import "normalize";

.annotations{
  font-size: 12px;
}

#barreFlex{
  display: flex;
  justify-content: space-between;
}

#titreSite{
  display: flex;
  align-items: center;
  height: 50px;
  img {
    height: 100%;
  }
}


.texteBarre{
  padding: 0;
  margin:0;
}

.barreLogos{
  align-items: flex-end;
}

.petitTitre{
  font-size: 18px;
  color: darkorange;
}

.petitTexte{
  margin-top: 1%;
  font-size: 14px;
}

#divGrid {
  display: grid;
  width: 100vw;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.large {
  grid-column: span 2;

  img {
    width: 100%;
    height: auto;
  }
}

.petit {
  grid-column: span 1;
  img {
    width: 100%;
    height: auto;
  }

}