@import "normalize";

@mixin rota($angle){
  transform: rotate($angle);
}

@mixin grid($nbcol){
  display: grid;
  padding-left: 1vw;
  padding-right: 1vw;
  width: 98vw;
  grid-template-columns: repeat($nbcol,1fr);
  grid-gap: 10px;
  grid-auto-flow: row dense;
}

.annotations{
  font-size: 12px;
}

.navigationDiv {
  li {
    list-style: none;
  }
}

#barreFlex{
  display: flex;
  justify-content: space-between;
}

#titreSite{
  display: flex;
  align-items: center;
  height: 5vh ;
  img {
    height: 100%;
  }
}


.texteBarre{
  padding: 0;
  margin:0;
  font-size: 1rem;
}

.barreLogos{
  align-items: flex-end;
}

.petitTitre{
  font-size: 18px;
  color: darkorange;
}

.petitTexte{
  margin-top: 1%;
  font-size: 14px;
}

.large {
  grid-column: span 2;
  border: 1px solid black;


  img {
    width: 100%;
    height: auto;
  }
}

.petit {
  grid-column: span 1;
  border: 1px solid black;


  img {
    width: 100%;
    height: auto;
  }
}
.barreInfoSup {
  width: 100vw;
  margin-bottom: 2%;
  border: 1px solid black;
}


.rotaGauche {
  @include rota(0.7deg);
}

.rotaDroite{
  @include rota(-0.7deg);
}

@media screen and (min-width: 1601px) {
  #divGrid {
    @include grid(6);
  }
  .navigationDiv.petit{
    grid-column: span 1;
  }
}

@media screen and (max-width: 1600px){
  #divGrid {
    @include grid(5);
  }
  .navigationDiv.petit{
    grid-column: span 1;
  }
}

@media screen and (max-width: 1249px){
  #divGrid {
    @include grid(4);
  }
  .navigationDiv.petit{
    grid-column: span 1;
  }
}

@media screen and (max-width: 1024px){
  #divGrid {
    @include grid(3);
  }
  .navigationDiv.petit{
    grid-column: span 1;
  }
}

@media screen and (max-width: 820px){
  #divGrid {
    @include grid(2);
  }
  .navigationDiv.petit{
    grid-column: span 2;
  }
}

